terraform {
  required_providers {
    proxmox = {
      source  = "Telmate/proxmox"
      version = "~> 2.9"
    }
  }
}

provider "proxmox" {
  pm_api_url          = "{{ config.proxmox.url }}"
  pm_api_token_id     = "{{ config.proxmox.token_id }}"
  pm_api_token_secret = "{{ config.proxmox.token_secret }}"
  pm_tls_insecure     = true
}

resource "proxmox_vm_qemu" "master" {
  count       = {{ config.proxmox.master_count }}
  name        = "{{ config.cluster_name }}-master-${count.index}"
  target_node = "{{ config.proxmox.node }}"
  clone       = "{{ config.proxmox.template }}"
  agent       = 1
  os_type     = "cloud-init"
  cores       = {{ config.proxmox.master_cores }}
  sockets     = 1
  cpu         = "host"
  memory      = {{ config.proxmox.master_memory }}
  scsihw      = "virtio-scsi-pci"
  bootdisk    = "scsi0"

  disk {
    slot    = 0
    size    = "{{ config.proxmox.master_disk }}"
    type    = "scsi"
    storage = "{{ config.proxmox.storage }}"
  }

  network {
    model  = "virtio"
    bridge = "{{ config.proxmox.bridge }}"
  }

  {% if config.ssh_key_path %}
  sshkeys = <<EOF
  {{ ssh_key }}
  EOF
  {% endif %}

  lifecycle {
    ignore_changes = [network]
  }
}

resource "proxmox_vm_qemu" "worker" {
  count       = {{ config.proxmox.worker_count }}
  name        = "{{ config.cluster_name }}-worker-${count.index}"
  target_node = "{{ config.proxmox.node }}"
  clone       = "{{ config.proxmox.template }}"
  agent       = 1
  os_type     = "cloud-init"
  cores       = {{ config.proxmox.worker_cores }}
  sockets     = 1
  cpu         = "host"
  memory      = {{ config.proxmox.worker_memory }}
  scsihw      = "virtio-scsi-pci"
  bootdisk    = "scsi0"

  disk {
    slot    = 0
    size    = "{{ config.proxmox.worker_disk }}"
    type    = "scsi"
    storage = "{{ config.proxmox.storage }}"
  }

  network {
    model  = "virtio"
    bridge = "{{ config.proxmox.bridge }}"
  }

  {% if config.ssh_key_path %}
  sshkeys = <<EOF
  {{ ssh_key }}
  EOF
  {% endif %}

  lifecycle {
    ignore_changes = [network]
  }
}

output "master_ips" {
  value       = proxmox_vm_qemu.master[*].default_ipv4_address
  description = "IP addresses of master nodes"
}

output "worker_ips" {
  value       = proxmox_vm_qemu.worker[*].default_ipv4_address
  description = "IP addresses of worker nodes"
}

